body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #f5f5dc;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
ul li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
p {
  width: auto;
}

.container {
  margin: 50px auto;
  padding: 0 15px;
  max-width: 1200px;
}

.title {
  font-size: 46px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.accordion__item:hover .label__img {
  width: 40%;
  margin-top: 40px;
}

.accordion__item:hover .item__title img {
  rotate: 0deg;
}

.item__input {
  width: 0;
  height: 0;
  appearance: none;
  -webkit-appearance: none;
}

.item__input:checked ~ .label__img {
  width: 40%;
  margin-top: 40px;
}

.item__input:checked ~ .item__title {
  background-color: greenyellow;
}

.item__input:checked ~ .item__title img {
  width: 16px;
  rotate: 360deg;
}

.item__title {
  display: flex;
  background-color: azure;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.item__title:hover {
  background-color: greenyellow;
}

.cross {
  width: 16px;
  rotate: -45deg;
  transition-duration: 1s;
}

.label__img {
  width: 0;
  transition-duration: 1s;
}

.mem__img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  cursor: pointer;
}
