body{font-family:sans-serif;font-size: 16px;line-height: 1;background-color: #f5f5dc;}
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input,button,textarea{font-family: inherit;}
button{cursor: pointer;}
ul li{list-style: none;}
a,a:visited{text-decoration: none;color:inherit}
p{width: auto}

.container {
	margin: 0 auto;
	padding: 0 1px;
	max-width: 1200px;
}

.title {
	font-size: 46px;
	text-align: center;
	margin-top: 100px;
	border-bottom: 1px solid black;
}

.accordion__block {
	margin-top: 50px;
}

.accordion__block:hover .plus__icon {
	display: inline-block;
}

.accordion__item {
	background-color: azure;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.accordion__item:hover .label__img {
	display: block;
}

.accordion__item:hover .plus__icon {
	rotate: 45deg;
}

.item__input {
	width: 0;
	height: 0;
	appearance: none;
	-webkit-appearance: none;
}

.item__input:checked ~ .label__img {
	display: block;
}

.item__input:checked ~ .item__title {
	background-color: greenyellow;
}

.item__input:checked ~ .item__title i {
	rotate: 45deg;
}

.item__title {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px 15px;
	cursor: pointer;
	transition: background 0.3s;
}

.item__title:hover {
	background-color: greenyellow;
}

.plus__icon {
	display: none;
}

.label__img {
	width: 40%;
	display: none;
}

.mem__img {
	margin-top: 25px;
	padding: 10px 15px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	cursor: pointer;
}
